# LIST

In [52]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

### append() : 	Adds an element at the end of the list

In [53]:
list1.append(list2)
list1

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

### extend() : Add the elements of a list (or any iterable), to the end of the current list

In [54]:
list1.extend(list2)
list1

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10], 6, 7, 8, 9, 10]

### clear() : Removes all the elements from the list

In [55]:
list2.clear()
list2

[]

### copy() : Returns a copy of the list

In [56]:
list2 = list1.copy()
list2

[1, 2, 3, 4, 5, [], 6, 7, 8, 9, 10]

### count() : Returns the number of elements with the specified value

In [57]:
list1.count(1)

1

### index() : Returns the index of the first element with the specified value

In [58]:
list1.index(10)

10

### insert() : Adds an element at the specified position

In [59]:
#insert(index,value)
list1.insert(5,0)
list1

[1, 2, 3, 4, 5, 0, [], 6, 7, 8, 9, 10]

### pop() : Removes the element at the specified position

In [60]:
#by default removes and returns last element
list1.pop()

10

In [61]:
#pop(index)
list1.pop(6)

[]

### remove() : Removes the first item with the specified value

In [62]:
#remove(value)
list1.remove(0)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### reverse() : Reverses the order of the list

In [63]:
list1.reverse()
list1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### sort() : Sorts the list

In [65]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
list1.sort(reverse = True)
list1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# SET

In [78]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

### add() : Adds an element to the set

In [79]:
set1.add(0)
set1

{0, 1, 2, 3, 4, 5}

### clear() : Removes all the elements from the set

In [80]:
set2.clear()
set2

set()

### copy() : Returns a copy of the set

In [81]:
set2 = set1.copy()
set2

{0, 1, 2, 3, 4, 5}

### difference() : Returns a set containing the difference between two or more sets

In [82]:
set3 = {6,4,8,2,3}
set1.difference(set3)

{0, 1, 5}

### difference_update() : Removes the items in this set that are also included in another, specified set

In [83]:
set1.difference_update(set3)
set1

{0, 1, 5}

### discard() : Remove the specified item

In [84]:
set1.discard(0)

In [85]:
set1

{1, 5}

### intersection() : Returns a set, that is the intersection of two or more sets

In [87]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,7,9}
set1.intersection(set2)

{2, 4}

### intersection_update() : Removes the items in this set that are not present in other, specified set(s)

In [88]:
set1.intersection_update(set2)
set1

{2, 4}

### isdisjoint() : Returns whether two sets have a intersection or not

In [89]:
set1.isdisjoint(set2)

False

### issubset() : Returns whether another set contains this set or not

In [90]:
set1.issubset(set2)

True

### issuperset() : Returns whether this set contains another set or not

In [92]:
set2.issuperset(set1)

True

### pop() : Removes an element from the set

In [94]:
# here no index or element specification is allowed since sets are unordered
set2.pop()

2

### remove() : Removes the specified element

In [96]:
set2.remove(6)
set2

{4, 7, 9}

### symmetric_difference() : Returns a set with the symmetric differences of two sets

In [98]:
set1.symmetric_difference(set2)

{2, 7, 9}

### symmetric_difference_update() : inserts the symmetric differences from this set and another

In [100]:
set1.symmetric_difference_update(set2)
set1

{2, 7, 9}

### union() : Return a set containing the union of sets

In [101]:
set1.union(set2)

{2, 4, 7, 9}

### update() : Update the set with another set, or any other iterable

In [102]:
set1.update({1,2,3})
set1

{1, 2, 3, 7, 9}

In [103]:
set1.update(set1.union(set2))

In [104]:
set1

{1, 2, 3, 4, 7, 9}