In [2]:
str1 = "sunandi"

In [3]:
#capitalize()	Converts the first character to upper case
str1.capitalize()

'Sunandi'

In [4]:
#casefold()	Converts string into lower case
str1.casefold()

'sunandi'

In [13]:
#center()	Returns a centered string
"my name is sunandi".center(0)

'my name is sunandi'

In [14]:
#count()	Returns the number of times a specified value occurs in a string
str1.count("n")

2

In [15]:
#encode()	Returns an encoded version of the string
str1.encode()

b'sunandi'

In [16]:
#endswith()	Returns true if the string ends with the specified value
str1.endswith("i")

True

In [22]:
#expandtabs()	Sets the tab size of the string
str1.expandtabs(10)

'sunandi'

In [23]:
#find()	Searches the string for a specified value and returns the position of where it was found
str1.find("a")

3

In [24]:
#format()	Formats specified values in a string
str1.format()

'sunandi'

In [26]:
#format_map()	Formats specified values in a string
str1.format_map(1)

'sunandi'

In [30]:
#index()	Searches the string for a specified value and returns the position of where it was found
str1.index("un")

1

In [31]:
#isalnum()	Returns True if all characters in the string are alphanumeric
str1.isalnum()

True

In [32]:
#isalpha()	Returns True if all characters in the string are in the alphabet
str1.isalpha()

True

In [33]:
#isascii()	Returns True if all characters in the string are ascii characters
str1.isascii()

True

In [34]:
#isdecimal()	Returns True if all characters in the string are decimals
str1.isdecimal()

False

In [35]:
#isdigit()	Returns True if all characters in the string are digits
str1.isdigit()

False

In [36]:
#isidentifier()	Returns True if the string is an identifier
str1.isidentifier()

True

In [37]:
#islower()	Returns True if all characters in the string are lower case
str1.islower()

True

In [38]:
#isnumeric()	Returns True if all characters in the string are numeric
str1.isnumeric()

False

In [39]:
#isprintable()	Returns True if all characters in the string are printable
str1.isprintable()

True

In [40]:
#isspace()	Returns True if all characters in the string are whitespaces
str1.isspace()

False

In [41]:
#istitle()	Returns True if the string follows the rules of a title
str1.istitle()

False

In [42]:
#isupper()	Returns True if all characters in the string are upper case
str1.isupper()

False

In [44]:
#join()	Converts the elements of an iterable into a string
list1 = ["my","name","is","sunandi"]
str2 = ""
str2.join(list1)

'mynameissunandi'

In [50]:
#ljust()	Returns a left justified version of the string
str1.ljust(7)

'sunandi'

In [51]:
#lower()	Converts a string into lower case
str1.lower()

'sunandi'

In [52]:
#lstrip()	Returns a left trim version of the string
"     sunandi".lstrip()

'sunandi'

In [57]:
#maketrans()	Returns a translation table to be used in translations
str1.maketrans({1 : "Sunandi",2:"Anjuri"})

{1: 'Sunandi', 2: 'Anjuri'}

In [73]:
#partition()	Returns a tuple where the string is parted into three parts
str1.partition("n")

('su', 'n', 'andi')

In [62]:
#replace()	Returns a string where a specified value is replaced with a specified value
str1.replace('s','S')

'Sunandi'

In [63]:
#rfind()	Searches the string for a specified value and returns the last position of where it was found
str1.rfind('n')

4

In [67]:
#rindex()	Searches the string for a specified value and returns the last position of where it was found
str1.rindex("n")

4

In [69]:
#rjust()	Returns a right justified version of the string
str1.rjust(1)

'sunandi'

In [72]:
#rpartition()	Returns a tuple where the string is parted into three parts
str1.rpartition("n")

('suna', 'n', 'di')

In [77]:
#rsplit()	Splits the string at the specified separator, and returns a list
str1.rsplit("n")

['su', 'a', 'di']

In [76]:
#rstrip()	Returns a right trim version of the string
"sunandi   ".rstrip()

'sunandi'

In [79]:
#split()	Splits the string at the specified separator, and returns a list
str1.split("n")

['su', 'a', 'di']

In [80]:
#splitlines()	Splits the string at line breaks and returns a list
"my \n name is \n sunandi".splitlines()

['my ', ' name is ', ' sunandi']

In [82]:
#startswith()	Returns true if the string starts with the specified value
str1.startswith("s")

True

In [87]:
#strip()	Returns a trimmed version of the string
"   sunandi  ".strip()

'sunandi'

In [88]:
#swapcase()	Swaps cases, lower case becomes upper case and vice versa
str1.swapcase()

'SUNANDI'

In [89]:
#title()	Converts the first character of each word to upper case
str1.title()

'Sunandi'

In [92]:
#translate()	Returns a translated string
str1.translate("d")

'sunandi'

In [93]:
#upper()	Converts a string into upper case
str1.upper()

'SUNANDI'

In [94]:
#zfill()	Fills the string with a specified number of 0 values at the beginning
str1.zfill(10)

'000sunandi'